## Importing Libraries

In [5]:
import numpy as np 
import pandas as pd
import glob 
import os

## Reading multiple station Data (+Extracting Meta Data)

In [6]:
def get_csv_files():
    current_dir = os.getcwd()
    parent_dir = os.path.dirname(current_dir)
    raw_data_dir = os.path.join(parent_dir, "Raw Station Datasets")
    csv_files = glob.glob(os.path.join(raw_data_dir, '*.csv'))
    filtered_files = sorted([file for file in csv_files if os.path.basename(file)[:3].isdigit()],
                            key=lambda x: int(os.path.basename(x)[:3]))
    return filtered_files

def load_csv_files(file_list):
    dfs = []
    for file in file_list:
        try:
            # Extract Metadata + Header data
            with open(file, 'r') as f:
                meta_lines = [f.readline().strip() for _ in range(12)]

            # Extract only metadata from meta_lines
            metadata = {}
            for line in meta_lines[4:10]:  # Lines 5-10
                key, value = line.split(': ')
                metadata[key.strip('# ')] = value

            # Combine the Parameter + it's Units (lines 11 and 12)
            headers = meta_lines[10].split(',')  # Line 11
            units = meta_lines[11].split(',')  # Line 12

            new_headers = []
            for header, unit in zip(headers, units):
                if unit.strip():
                    new_headers.append(f'{header.strip()}({unit.strip()})')
                else:
                    new_headers.append(header.strip())  # Account for no units, first two rows (Station_ID and Date_time)

            # Add data starting from Line 13 for every csv file
            df = pd.read_csv(file, skiprows=12, names=new_headers)
            
            # Create new columns hosting meta data (Will be converted to Categorical Variable later)
            for key, value in metadata.items():
                df[key] = value

            # Appending each DataFrame to the list
            dfs.append(df)
            print(f"Successfully loaded: {os.path.basename(file)}")
        except Exception as e:
            print(f"Error loading {os.path.basename(file)}: {e}")
    return dfs

# Loading Step
csv_files = get_csv_files()
dfs = load_csv_files(csv_files)
print(f"\nNumber of DataFrames loaded: {len(dfs)}")

Successfully loaded: 001HI.2024-10-07.csv
Successfully loaded: 002HI.2024-10-07.csv
Successfully loaded: 003HI.2024-10-13.csv
Successfully loaded: 004HI.2024-10-13.csv
Successfully loaded: 005HI.2024-10-13.csv
Successfully loaded: 006HI.2024-10-13.csv
Successfully loaded: 007HI.2024-10-13.csv
Successfully loaded: 008HI.2024-10-13.csv
Successfully loaded: 009HI.2024-10-13.csv
Successfully loaded: 010HI.2024-10-13.csv
Successfully loaded: 011HI.2024-10-13.csv

C:\Users\as0780\AppData\Local\Temp\ipykernel_16480\834843614.py:36: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, skiprows=12, names=new_headers)

Successfully loaded: 012HI.2024-10-13.csv
Successfully loaded: 013HI.2024-10-13.csv
Successfully loaded: 014HI.2024-10-13.csv
Successfully loaded: 015HI.2024-10-13.csv
Successfully loaded: 016HI.2024-10-13.csv
Successfully loaded: 017HI.2024-10-07.csv
Successfully loaded: 018HI.2024-10-20.csv
Successfully loaded: 019HI.2024-10-20.csv
Successfully loaded: 020HI.2024-10-20.csv
Successfully loaded: 021HI.2024-10-20.csv
Successfully loaded: 022HI.2024-10-20.csv
Successfully loaded: 023HI.2024-05-16.csv

C:\Users\as0780\AppData\Local\Temp\ipykernel_16480\834843614.py:36: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, skiprows=12, names=new_headers)

Successfully loaded: 024HI.2024-10-20.csv
Successfully loaded: 025HI.2024-10-20.csv
Successfully loaded: 026HI.2024-10-20.csv
Successfully loaded: 027HI.2024-10-20.csv
Successfully loaded: 028HI.2024-09-03.csv
Successfully loaded: 029HI.2024-10-20.csv
Successfully loaded: 030HI.2024-10-20.csv
Successfully loaded: 031HI.2024-10-20.csv
Successfully loaded: 032HI.2024-11-10.csv
Successfully loaded: 033HI.2024-11-10.csv
Successfully loaded: 034HI.2024-11-10.csv
Successfully loaded: 035HI.2024-11-10.csv
Successfully loaded: 036HI.2024-11-10.csv
Successfully loaded: 037HI.2024-11-10.csv
Successfully loaded: 038HI.2024-11-10.csv
Successfully loaded: 039HI.2024-11-10.csv
Successfully loaded: 040HI.2024-11-10.csv
Successfully loaded: 041HI.2024-11-10.csv
Successfully loaded: 042HI.2024-11-10.csv
Successfully loaded: 043HI.2024-06-16.csv
Successfully loaded: 044HI.2024-06-16.csv
Successfully loaded: 045HI.2024-06-16.csv

Number of DataFrames loaded: 45

In [9]:
dfs[22] #Accessing, only the first Station_ID file!

,Station_ID,Date_Time,pressure_set_1(Pascals),air_temp_set_1(Celsius),relative_humidity_set_1(%),wind_speed_set_1(m/s),wind_direction_set_1(Degrees),wind_gust_set_1(m/s),soil_temp_set_1(Celsius),soil_temp_set_2(Celsius),...,dew_point_temperature_set_1d(Celsius),altimeter_set_1d(Pascals),sea_level_pressure_set_1d(Pascals),wet_bulb_temp_set_1d(Celsius),STATION,STATION NAME,LATITUDE,LONGITUDE,ELEVATION [ft],STATE
0,023HI,2023-03-31T17:10:00Z,NaN,22.65,83.20,0.05,284.4,NaN,23.41,25.09,...,19.64,NaN,NaN,NaN,023HI,Hamoa,20.7195,-156.0024,347.0,HI
1,023HI,2023-03-31T17:15:00Z,NaN,22.75,82.30,0.04,281.8,NaN,23.42,25.11,...,19.56,NaN,NaN,NaN,023HI,Hamoa,20.7195,-156.0024,347.0,HI
2,023HI,2023-03-31T17:20:00Z,NaN,22.77,82.30,0.16,230.2,NaN,23.46,25.09,...,19.58,NaN,NaN,NaN,023HI,Hamoa,20.7195,-156.0024,347.0,HI
3,023HI,2023-03-31T17:25:00Z,NaN,22.75,82.00,0.21,263.1,NaN,23.51,25.08,...,19.50,NaN,NaN,NaN,023HI,Hamoa,20.7195,-156.0024,347.0,HI
4,023HI,2023-03-31T17:30:00Z,NaN,22.70,81.70,0.27,333.7,NaN,23.56,25.08,...,19.40,NaN,NaN,NaN,023HI,Hamoa,20.7195,-156.0024,347.0,HI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93734,023HI,2024-05-15T23:40:00Z,NaN,27.62,73.43,0.93,161.3,2.56,NaN,NaN,...,22.44,NaN,NaN,NaN,023HI,Hamoa,20.7195,-156.0024,347.0,HI
93735,023HI,2024-05-15T23:45:00Z,NaN,27.59,73.04,0.62,139.3,2.33,NaN,NaN,...,22.32,NaN,NaN,NaN,023HI,Hamoa,20.7195,-156.0024,347.0,HI
93736,023HI,2024-05-15T23:50:00Z,NaN,27.80,72.23,0.65,141.1,2.39,NaN,NaN,...,22.34,NaN,NaN,NaN,023HI,Hamoa,20.7195,-156.0024,347.0,HI
93737,023HI,2024-05-15T23:55:00Z,NaN,27.99,73.39,0.57,141.3,1.83,NaN,NaN,...,22.79,NaN,NaN,NaN,023HI,Hamoa,20.7195,-156.0024,347.0,HI
93738,023HI,2024-05-16T00:00:00Z,NaN,28.16,71.40,0.42,155.1,1.22,NaN,NaN,...,22.50,NaN,NaN,NaN,023HI,Hamoa,20.7195,-156.0024,347.0,HI

## Concatenate all Station Data into a single Dataframe

In [4]:
# Concatenate all DataFrames in the list
combined_df = pd.concat(dfs, ignore_index=True)

# Converting the columns which merely get replicated to categorical variable to save space!
categorical_columns = ['Station_ID', 'STATION', 'STATION NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION [ft]', 'STATE']

for col in categorical_columns:
    if col in combined_df.columns:
        combined_df[col] = combined_df[col].astype('category')

KeyboardInterrupt:

In [5]:
combined_df[combined_df['Station_ID'] == '017HI'] #Accessing specific Station's Data

,Station_ID,Date_Time,pressure_set_1(Pascals),air_temp_set_1(Celsius),relative_humidity_set_1(%),wind_speed_set_1(m/s),wind_direction_set_1(Degrees),wind_gust_set_1(m/s),solar_radiation_set_1(W/m**2),soil_temp_set_1(Celsius),...,STATION,STATION NAME,LATITUDE,LONGITUDE,ELEVATION [ft],STATE,soil_temp_set_2(Celsius),soil_temp_set_3(Celsius),soil_temp_set_4(Celsius),soil_moisture_set_3(%)
508043,017HI,2022-12-05T00:00:00Z,NaN,21.85,72.28,0.81,116.1,NaN,232.55,20.53,...,017HI,Piiholo,20.8415,-156.2948,2090.0,HI,19.97,20.60,NaN,43.9
508044,017HI,2022-12-05T00:05:00Z,NaN,21.62,72.28,2.40,90.8,NaN,381.14,20.56,...,017HI,Piiholo,20.8415,-156.2948,2090.0,HI,19.99,20.58,NaN,43.9
508045,017HI,2022-12-05T00:10:00Z,NaN,21.75,73.15,2.20,99.3,NaN,467.97,20.60,...,017HI,Piiholo,20.8415,-156.2948,2090.0,HI,20.03,20.61,NaN,43.9
508046,017HI,2022-12-05T00:15:00Z,NaN,22.06,71.56,3.11,91.1,NaN,755.71,20.63,...,017HI,Piiholo,20.8415,-156.2948,2090.0,HI,20.06,20.59,NaN,43.9
508047,017HI,2022-12-05T00:20:00Z,NaN,21.88,70.89,1.76,89.5,NaN,271.18,20.68,...,017HI,Piiholo,20.8415,-156.2948,2090.0,HI,20.05,20.58,NaN,43.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700826,017HI,2024-10-07T11:40:00Z,94450.0,16.96,71.69,1.40,95.7,2.17,0.00,NaN,...,017HI,Piiholo,20.8415,-156.2948,2090.0,HI,20.96,21.37,20.58,37.7
700827,017HI,2024-10-07T11:45:00Z,94450.0,16.99,72.43,1.32,151.1,2.28,0.00,NaN,...,017HI,Piiholo,20.8415,-156.2948,2090.0,HI,20.99,21.38,20.57,37.7
700828,017HI,2024-10-07T11:50:00Z,94450.0,16.80,73.51,1.29,151.7,1.89,0.00,NaN,...,017HI,Piiholo,20.8415,-156.2948,2090.0,HI,20.95,21.37,20.56,37.7
700829,017HI,2024-10-07T11:55:00Z,94440.0,16.90,74.96,1.12,156.5,2.28,0.00,NaN,...,017HI,Piiholo,20.8415,-156.2948,2090.0,HI,20.92,21.39,20.58,37.7
700830,017HI,2024-10-07T12:00:00Z,94430.0,16.95,75.37,1.04,161.3,2.83,0.00,NaN,...,017HI,Piiholo,20.8415,-156.2948,2090.0,HI,20.94,21.36,20.55,37.7

## Saving the Reformatted + Cleaned Dataframe as .CSV

In [46]:
csv_filename = "combined_data.csv"
combined_df.to_csv(csv_filename, index=False)