# Importing the Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import glob
import os

# Loading the Dataset

In [2]:
df = pd.read_csv('006HI_clean.csv')

# Filtering out columns

In [3]:
print(df.columns)

Index(['Station_ID', 'Date_Time', 'air_temp_set_1(Celsius)',
       'relative_humidity_set_1(%)', 'wind_speed_set_1(m/s)',
       'wind_direction_set_1(Degrees)', 'solar_radiation_set_1(W/m**2)',
       'soil_temp_set_1(Celsius)',
       'precip_accum_five_minute_set_1(Millimeters)', 'soil_moisture_set_1(%)',
       'soil_moisture_set_2(%)', 'soil_moisture_set_3(%)', 'volt_set_1(volts)',
       'net_radiation_set_1(W/m**2)', 'net_radiation_sw_set_1(W/m**2)',
       'net_radiation_lw_set_1(W/m**2)', 'outgoing_radiation_sw_set_1(W/m**2)',
       'incoming_radiation_lw_set_1(W/m**2)',
       'outgoing_radiation_lw_set_1(W/m**2)', 'wind_chill_set_1d(Celsius)',
       'wind_cardinal_direction_set_1d(code)', 'heat_index_set_1d(Celsius)',
       'dew_point_temperature_set_1d(Celsius)', 'STATION', 'STATION NAME',
       'LATITUDE', 'LONGITUDE', 'ELEVATION [ft]', 'STATE'],
      dtype='object')

In [4]:
selected_columns = [
    'net_radiation_lw_set_1(W/m**2)', 
    'solar_radiation_set_1(W/m**2)', 
    'relative_humidity_set_1(%)', 
    'air_temp_set_1(Celsius)', 
    'ELEVATION [ft]', 
    'STATION', 
    'STATION NAME', 
    'LATITUDE', 
    'LONGITUDE', 
    'STATE'
]
filter_df = df[selected_columns]

In [5]:
filter_df

,net_radiation_lw_set_1(W/m**2),solar_radiation_set_1(W/m**2),relative_humidity_set_1(%),air_temp_set_1(Celsius),ELEVATION [ft],STATION,STATION NAME,LATITUDE,LONGITUDE,STATE
0,-11.02,80.71,92.54,19.82,1539.0,006HI,Spencer,19.964,-155.25,HI
1,-12.53,116.51,93.15,19.78,1539.0,006HI,Spencer,19.964,-155.25,HI
2,-16.50,169.84,93.73,19.94,1539.0,006HI,Spencer,19.964,-155.25,HI
3,-16.25,164.95,93.62,20.09,1539.0,006HI,Spencer,19.964,-155.25,HI
4,-8.65,73.22,93.86,19.98,1539.0,006HI,Spencer,19.964,-155.25,HI
...,...,...,...,...,...,...,...,...,...,...
255536,-50.63,0.00,70.92,18.65,1539.0,006HI,Spencer,19.964,-155.25,HI
255537,-41.50,0.00,71.36,18.70,1539.0,006HI,Spencer,19.964,-155.25,HI
255538,-24.03,0.00,72.25,18.60,1539.0,006HI,Spencer,19.964,-155.25,HI
255539,-23.05,0.00,73.31,18.48,1539.0,006HI,Spencer,19.964,-155.25,HI
255540,-33.78,0.00,73.04,18.57,1539.0,006HI,Spencer,19.964,-155.25,HI

# Processing it to Zoey's | Jiedong's Format